@import "../../.cache/wal/colors-waybar.css";

* {
  font: bold 16px "JetBrainsMono Nerd Font";
  border: none;
}

window#waybar {
  background: alpha(@background, 0.5);
  border-radius: 10px;
/*
dunno if i like it
  border: 2px;
  border-style: solid;
  border-color: @color1;
*/
}

#workspaces,
#pulseaudio,
#hardware,
#network,
#battery,
#clock {
  padding: 0px 10px 0px 10px;
  margin: 2px 2px 2px 2px;
  background: alpha(@background, 0.3);
  border-radius: 10px;
  color: lighter(@color1);
}

#workspaces button {
  color: lighter(@color1);
}

#workspaces button.active,
#workspaces button:hover {
  background: none;
  color: lighter(@color6);
}

#temperature{
	margin: 0px 10px 0px 10px;
}
